.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

a{
    color: black;
    text-decoration: none;
}

.main-screen-icon{
    font-size: 180px;
}

.main-toolbar{
    background-image: url('https://i.redd.it/rhun61qvdvlz.png');
    background-position: center -530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.main-toolbar *{
    color: white;
}

.general-card{
    border: solid 1px rgb(59, 42, 68);
}

td{
    text-align: left;
}