<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <a href="./">
            <mat-icon>directions_boat</mat-icon>
            <span>Boarder</span>
        </a>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" matTooltip="Funcionários" routerLinkActive="active">
            <a [routerLink]="['/funcionarios']">assignment_ind</a>
        </mat-icon>
        <mat-icon class="example-icon" matTooltip="Embarques" routerLinkActive="active">
            <a [routerLink]="['/embarques']" routerLinkActive="active">swap_vert</a>
        </mat-icon>
    </mat-toolbar-row>

</mat-toolbar>

<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>Bem-vindo ao {{title}}!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Escolha uma das opções do menu para começar.</mat-card-subtitle>
    </mat-card-content>
</mat-card>
<div style="text-align:center">
<h1>
<router-outlet></router-outlet>