@import "../app-style.scss";

.general-card *{
    font-weight: normal;
}

.flipped {
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
}

.hidden{
    display: none;
}