<div class="card-container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="searh-card" class="general-card">
    <mat-card-header>
      <mat-card-title>Embarcar funcionário</mat-card-title>
      <mat-card-subtitle>Clique no botão Embarcar / Desembarcar desejado, escolha a data e clique no botão Salvar.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<div class="card-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" *ngIf="funcionarios.length > 0">
  <mat-card class="card-list" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="100%" fxFlexFill> 
    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8 funcionarios-table" style="width:100%">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="funcao">
        <th mat-header-cell *matHeaderCellDef> Função </th>
        <td mat-cell *matCellDef="let element"> {{element.funcao}} </td>
      </ng-container>

      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
      </ng-container>

      <ng-container matColumnDef="dataEmbarque">
        <th mat-header-cell *matHeaderCellDef> Data de embarque </th>
        <td mat-cell *matCellDef="let element"> {{element.dataEmbarque | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="embarcar">
        <th mat-header-cell *matHeaderCellDef> Embarcar </th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="example-full-width" class="hidden">
              <input matInput [matDatepicker]="dataEmbarque" placeholder="" [(ngModel)]="element.dataEmbarque">
            </mat-form-field>
            <mat-datepicker touchUi #dataEmbarque></mat-datepicker>
            <button mat-raised-button (click)="dataEmbarque.open()" fxLayoutAlign="center center">
              <mat-icon>open_in_browser</mat-icon>
            </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="dataDesembarque">
        <th mat-header-cell *matHeaderCellDef> Data de desembarque </th>
        <td mat-cell *matCellDef="let element"> {{element.dataDesembarque | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="desembarcar">
        <th mat-header-cell *matHeaderCellDef> Desembarcar </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="example-full-width" class="hidden">
            <input matInput [matDatepicker]="dataDesembarque" placeholder="" [(ngModel)]="element.dataDesembarque">
          </mat-form-field>
          <mat-datepicker touchUi #dataDesembarque></mat-datepicker>
          <button mat-raised-button (click)="dataDesembarque.open()" fxLayoutAlign="center center">
            <mat-icon class="flipped">open_in_browser</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="salvar">
        <th mat-header-cell *matHeaderCellDef> Salvar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="embarcar(element)">
            <mat-icon class="flipped">save</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>