@import "../app-style.scss";

.funcionarios-table {
    width: 100% !important;
}

.total-funcionarios{
    font-size: 10px;
}

.funcionarios-table td{
    text-align: left;
}

.mat-card-header-text{
    width: 100%;
}