<div class="card-container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="searh-card" class="general-card">
    <mat-card-header>
      <mat-card-title>Buscar funcionário</mat-card-title>
      <mat-card-subtitle>Informe o período de embarque e clique no botão Buscar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerEmbarque" placeholder="Clique para escolher ->" [(ngModel)]="dataEmbarque" date disabled>
        <mat-datepicker-toggle matSuffix [for]="pickerEmbarque"></mat-datepicker-toggle>
        <mat-datepicker #pickerEmbarque touchUi disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerDesembarque" placeholder="Clique para escolher ->" [(ngModel)]="dataDesembarque" disabled>
        <mat-datepicker-toggle matSuffix [for]="pickerDesembarque"></mat-datepicker-toggle>
        <mat-datepicker #pickerDesembarque touchUi disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="listarPorDataEmbarque()">Buscar</button>
      <button mat-button (click)="limparFiltro()">Limpar campos</button>
      <button mat-button (click)="getTodos()">Exibir todos</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="fields-card" class="general-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card-header>
      <mat-card-title>Novo funcionário</mat-card-title>
      <mat-card-subtitle>Informe os dados e clique no botão Salvar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="funcionarioSelecionado.nome">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Função" [(ngModel)]="funcionarioSelecionado.funcao">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Empresa" [(ngModel)]="funcionarioSelecionado.empresa">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="salvarFuncionario()">Salvar</button>
      <button mat-button (click)="limpar()">Limpar campos</button>
    </mat-card-actions>

  </mat-card>
</div><br />
<div class="card-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" *ngIf="funcionarios.length > 0">
  <mat-card class="card-list" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="100%" fxFlexFill> 
    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8 funcionarios-table" style="width:100%">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="funcao">
        <th mat-header-cell *matHeaderCellDef> Função </th>
        <td mat-cell *matCellDef="let element"> {{element.funcao}} </td>
      </ng-container>

      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
      </ng-container>

      <ng-container matColumnDef="dataEmbarque">
        <th mat-header-cell *matHeaderCellDef> Data de embarque </th>
        <td mat-cell *matCellDef="let element"> {{element.dataEmbarque | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="dataDesembarque">
        <th mat-header-cell *matHeaderCellDef> Data de desembarque </th>
        <td mat-cell *matCellDef="let element"> {{element.dataDesembarque | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>

<mat-card fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <p>Total de funcionários / embarcados: {{totalFuncionarios}} / {{totalFuncionariosEmbarcados}}</p>
</mat-card>